{% extends 'base.html' %}
{% block content %}
<h1>UPDATE 페이지</h1>

<form action="{% url 'articles:update' article.pk%}" method='POST'>
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" value='눌러서 수정하기'>
</form>


<form action="{% url 'articles:index' %}">
    <input type="submit" value='목록으로 가기'>
</form>
<form action="{% url 'articles:detail' article.pk %}">
    <input type="submit" value='세부내용 보기'>
</form>
<form action="{% url 'articles:delete' article.pk %}">
    <input type="submit" value='삭제하기'>
</form>

{% endblock content %}