.red-text{
  color:red
}
.blue-text{
  color:blue
}
.italic-text{
  font-style: italic;
}
.greeting{
  color:red;
  font-size:large;
  font-style: italic;
}
#greeting{
  border: 1px solid black;  
  color: aqua
}
#greeting2{
  border: 5px dotted blueviolet;  
}
#title1{
  color: green;
}