{% extends 'base.html' %}
{% block content %}
<h1>게시글 수정 페이지</h1>
<hr>
<h2> 수정을하자</h2>
<hr>
<form action="{% url 'articles:update' pk=article.pk %}" method='POST'>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value='수정하기'>
</form>

<form action="{% url 'articles:index' %}">
    <input type="submit" value='게시글 목록보기'>
</form>
<form action="{% url 'articles:detail' pk=article.pk %}">
    <input type="submit" value='게시글 내용보기'>
</form>
<form action="{% url 'articles:create' %}">
    <input type="submit" value='게시글 작성하기'>
</form>
<form action="{% url 'articles:index' pk=article.pk %}" method='POST'>
    {% csrf_token %}
    <input type="submit" value='게시글 삭제하기'>
</form>

{% endblock content %}