{% extends 'base.html' %}
{% block content %}
    <h1>세부목록보기 페이지</h1>
    <hr>
    <p>제목 : {{article.title}}</p>
    <hr>
    <p>내용 : {{article.content}}</p>
    <hr>
    <p>작성시각 : {{article.created_at}}</p>
    <hr>
    <p>수정시각 : {{article.updated_at}}</p>
    <hr>

    <form action="{% url 'articles:index'%}">
        <input type="submit" value='게시물 목록보기'>
    </form>
    <form action="{% url 'articles:create'%}">
        <input type="submit" value='게시물 작성하기'>
    </form>
    <form action="{% url 'articles:update' pk=article.pk%}">
        <input type="submit" value='게시물 수정하기'>
    </form>
    <form action="{% url 'articles:delete' pk=article.pk%}" method = 'POST'>
        {% csrf_token %}
        <input type="submit" value='게시물 삭제하기'>
    </form>

{% endblock content %}